<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<services>
			<service behaviorConfiguration="ChatService_v3_hostingIIS.ChatServiceBehavior" name="ChatService_v3_hostingIIS.ChatService">
				<endpoint address="" binding="wsDualHttpBinding" contract="ChatService_v3_hostingIIS.IChatService"
                  bindingConfiguration="StreamedHttp"   />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8001/" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<bindings>  
		  <wsDualHttpBinding>  
			<binding name="StreamedHttp"
					 maxReceivedMessageSize="67108864"/>  
			</wsDualHttpBinding>  
		</bindings>  
		<behaviors>
			<serviceBehaviors>
				<behavior name="ChatService_v3_hostingIIS.ChatServiceBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>		
	</system.serviceModel>
</configuration>
