<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<services>
			<service behaviorConfiguration="TransferServiceBehavior" name="TransferService.TransferService">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="TransferService" contract="TransferService.ITransferService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8002/" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="TransferServiceBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
					<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
					  <!-- To receive exception details in faults for debugging purposes, 
					  set the value below to true.  Set to false before deployment 
					  to avoid disclosing exception information -->
					  <serviceThrottling maxConcurrentCalls="500"
										 maxConcurrentSessions="500"
										 maxConcurrentInstances="500"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
		  <basicHttpBinding>
			<binding name="TransferService"
					 maxReceivedMessageSize="2147483647"
					 maxBufferSize="2147483647"
					 transferMode="Streamed">
			  <readerQuotas maxDepth="2147483647"
							maxStringContentLength="2147483647"
							maxArrayLength="2147483647"
							maxBytesPerRead="2147483647"
							maxNameTableCharCount="2147483647"/>
			  <security mode="None"/>			  
			</binding>        
		  </basicHttpBinding>
		</bindings>
	</system.serviceModel>
</configuration>
