<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataBindingWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DataBindingWPF.Properties.Settings>
            <setting name="LOGFILEPATH" serializeAs="String">
                <value>C://logfile.log</value>
            </setting>
        </DataBindingWPF.Properties.Settings>
    </applicationSettings>
</configuration>